<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Bhargav Ghori</title>
  </head>
  <body>
    <form action="/success" method="get">
      <input type="text" name="name" />
      <input type="submit" name="submit" />
    </form>
    <script>

    </script>
  </body>
</html>